<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">

    <listener>
        <listener-class>revagenda.servlets.DependencyLoaderListener</listener-class>
    </listener>

    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>revagenda.servlets.AuthServlet</servlet-class>
    </servlet>



    <servlet-mapping>
        <servlet-name>healthServlet</servlet-name>
        <url-pattern>/health</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>healthServlet</servlet-name>
        <servlet-class>revagenda.servlets.HealthServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>toDoItemServlet</servlet-name>
        <url-pattern>/ToDoItem</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>toDoItemServlet</servlet-name>
        <servlet-class>revagenda.servlets.ToDoItemServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>reimbursementServlet</servlet-name>
        <url-pattern>/reimbursement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>reimbursementServlet</servlet-name>
        <servlet-class>revagenda.servlets.ReimbursementServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>revagenda.servlets.UserServlet</servlet-class>
    </servlet>

    <!-- CORS FILTER -->
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>revagenda.servlets.CorsFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- /CORS FILTER -->

</web-app>